services:
  postgres:
    image: postgres:latest
    container_name: postgres
    env_file:
      - ./task/.docker.env
    ports:
      - "5433:5432"
    volumes:
     - postgres_data:/var/lib/postgresql
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U \"$$POSTGRES_USER\" -d \"$$POSTGRES_DB\" -h \"$$POSTGRES_HOST\" -p \"$$POSTGRES_PORT\""]
      interval: 5s
      timeout: 5s
      retries: 5
  
  redis:
    image: redis:latest
    container_name: redis
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6377:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    image: fast_api_task-app
    container_name: app
    env_file:
      - ./task/.docker.env
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks: 
      - backend
    volumes:
      - .:/app
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/healthcheck-db || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 5

  worker:
    image: fast_api_task-app
    container_name: worker
    env_file:
      - ./task/.docker.env
    command: celery -A task.celery.celery_utils.celery_app worker --loglevel=info --pool=gevent --concurrency=4 -E
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - backend
  
  beat:
    image: fast_api_task-app
    container_name: beat
    command: celery -A task.celery.celery_utils.celery_app beat --loglevel=info
    depends_on:
      redis:
       condition: service_healthy
    networks:
      - backend
  
  flower:
    image: fast_api_task-app
    container_name: flower
    env_file:
      - ./task/.docker.env
    command: celery -A task.celery.celery_utils.celery_app flower --port=5555
    ports:
      - "5555:5555"
    depends_on:
      redis:
        condition: service_healthy
      worker:
        condition: service_started  
    networks:
      - backend


networks:
  backend:

volumes:
  postgres_data:
  redis_data:
