services:
  postgres:
    image: postgres:latest
    env_file:
      - ./task/.docker.env
    ports:
      - "5432:5432"
    volumes:
     - postgres_data:/var/lib/postgresql
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U \"$POSTGRES_USER\" -d \"$POSTGRES_DB\" -h localhost -p 5432"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  redis:
    image: redis:latest
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    env_file:
      - ./task/.docker.env
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks: 
      - backend
    volumes:
      - .:/app
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/healthcheck-db || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  backend:

volumes:
  postgres_data:
  redis_data:
