services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: alchemytask_db
    ports:
      - "5432:5432"
    volumes:
     - postgres_data:/var/lib/postgresql
    networks:
      - backend
    
  app:
    image: api
    env_file:
      - ./task/.docker.env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    networks: 
      - backend
    volumes:
      - .:/app

networks:
  backend:

volumes:
  postgres_data: